<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="Css/stilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header" id="inicio">
        <img src="logo.png" alt="" width="90px" height="90px" class="logo">
        <img src="Imagenes/bx-menu.svg" alt="" class="hamburguer">
        <nav class="menu-navegation">
            <a href="#inicio">Inicio</a>
            <a href="#servicio">Servicio</a>
            <a href="#gallery">Galeria</a>
            <a href="#expertos">Expertos</a>
            <a href="#planes">Planes</a>
            <a href="#contacto">Contactos</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Nuestro servicio Minimarket XP ofrece una excelenet gestion de tu mercado</h1>
            <p class="copy">Somos una empresa dedicada al turismo y senderismo en paramos, paramillos, montañas y nevados.</p>
        </div>
    </header>
    <main>
        <section class="service contenedor" id="servicio">
            <h2 class="subtitulo">Nuestros servicios</h2>
            <div class="contenedor-servicio">
                <img src="Imagenes/hiking-isometric-e10a4.png" alt="isometricimg">
                <div class="ckecklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span> Equipamiento</h3>
                        <p>Ofrecemos servicio de equipamiento a nuestros cientes, ya que para poder realizar el recorrido es necesario el uso de herramientas como picos, carpas, escaleras entre otras herramientas</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span> Guia</h3>
                        <p>Ofrecemos servicio de guia turistico para que nuestros clientes sean acompañados por un profesional el cual estara pendiente de la seguridad, saalud, y el reccorido que se hará</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span> Alimentación</h3>
                        <p>Ofrecemos servicio de alimentación ya que el recorrido que se hace tiene una duracion de 3 a 6 dias dependiendo el punto de partida y punto de meta que el cliente escoja</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery" id="gallery">
            <div class="contenedor">
                <h2 class="subtitulo">Galeria</h2>
                <div class="contenedor-galeria">
                   <img src="Imagenes/img1.jpg" alt=""class="img-galeria">
                   <img src="Imagenes/img2.jpg" alt=""class="img-galeria">
                   <img src="Imagenes/img3.jpg" alt=""class="img-galeria">
                   <img src="Imagenes/img4.jpg" alt=""class="img-galeria">
                   <img src="Imagenes/img5.jpg" alt=""class="img-galeria">
                   <img src="Imagenes/img6.jpg" alt=""class="img-galeria">
                </div>
            </div>
        </section>
        <section class="img-light">
            <img src="Imagenes/bx-x.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </section>
        <section class="contenedor" id="expertos">
            <h2 class="subtitulo">Somos expertos en:</h2>
        </section>
        <section class="experto">
            <div class="cont-expert">
                <img src="Imagenes/adventure-isometric-b03b6.svg" alt="">
                <h3 class="n-expert">Turismo</h3>
            <div class="cont-expert">
                <img src="Imagenes/chef-isometric.svg" alt="">
                <h3 class="n-expert">Alimentación</h3>
            <div class="cont-expert">
                <img src="Imagenes/map-isometric.svg" alt="">
                <h3 class="n-expert">Senderismo</h3>
            </div>
        </section>
        <section class="plan contenedor" id="planes">
            <h2 class="subtitulo">Nuestros planes</h2>
            <div class="contenedor-planes"> 
                <div class="ckecklist-planes">
                    <div class="planes">
                        <h3 class="n-service"><span class="number">1</span> Plan Bronce</h3>
                        <p>En este plan te brindamos el servicio de guia turistica y alimentaión. Para reservar este plan por favor comunicate con nosotros via whatsapp. (Costo del plan: 100.000 por persona)</p>
                    </div>
                    <div class="planes">
                        <h3 class="n-service"><span class="number">2</span> Plan Plata</h3>
                        <p>En este plan te brindamos nuestros servicios de guia turistica, alimentacion y transporte. Para reservar por favor comunicate con nosotros via whatsapp. (Costo del plan: $95.000 por persona)</p>
                    </div>
                    <div class="planes">
                        <h3 class="n-service"><span class="number">3</span> Plan Oro</h3>
                        <p>En este plan te brindamos nuestros servicios de guia turistica, alimentacion, equipaje, trajes, herramientas, carpas y transporte. Para reservar este plan por favor comunicate con nosotros via whatsapp. (Costo del plan: $145.000 por persona)</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Climbing Tour</h2>
                <p>Escalamos montañas, escalamos tus sueños</p>
            </div>
            <div class="social-media">
                <h4 style="color: purple;">Contactanos</h4>
                <a href="" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>   
                </a>
                <a href="" class="social-media-icon">
                    <i class='bx bxl-facebook-circle' ></i>   
                </a>
                <a href="" class="social-media-icon">
                    <i class='bx bxl-whatsapp'></i>  
                </a>
            </div>
            <div class="line"></div>
        </div>
    </footer>

    <script src="Js/menu-navegation.js"></script>
    <script src="Js/lightbox.js"></script>
</body>
</html>